@media only screen and (max-width: 1030px) {
  .chat-container {
    grid-template-columns: 230px 45vw 10vw 10vw 10vw !important;
    grid-template-rows: 7vh 5vh 81vh 7vh;
  }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 950px) {
  .conversation.list.item {
    display: flex;
    align-items: center;
    min-width: 100% !important;
    cursor: pointer;
  }

}
