@import "media-queires";
@import "custom";
@import url('aos.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
//@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css');

:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  /* scroll-behavior: smooth; */
}

body {
  margin: 0;
  font-size: 16px !important;
  font-family: 'Open Sans', 'Poppins', sans-serif !important;
  height: 100%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,173,255,1) 0%, rgba(0,50,154,1) 100%);
  //background: rgb(250, 250, 250);
}

input {
  /* border: 1px solid #aaa; */
  /* box-sizing: border-box !important; */
}

input:focus {
  /* border: 1px solid #000000 !important; */
  /* border-bottom: 4px solid #1fc3ff !important; */
  outline: none;
  /* height: 53px !important; */
  /* box-sizing: border-box !important; */
  box-shadow: none;
}

textarea:focus {
  /* border: 1px solid #000000 !important; */
  /* border-bottom: 4px solid #1fc3ff !important; */
  outline: none;
  /* height: inherit !important; */
}

.btn-form {
  border-radius: 50px !important;
  height: 50px;
  width: 200px;
}



.chat-container {
  display: grid;
  //grid-template-columns: 71px 1fr 78px / 275px 1fr;;
  //grid:
  //  'search-container chat-title' 71px
  //  'conversation-list chat-message-list' 1fr
  //  'new-message-container chat-form' 78px / 275px 1fr;
  //min-width: 800px;
  //max-width: 1000px;
  //max-height: 800px;
  width: 100%;
  height: 100vh;
  background: #fff;
  border-radius: 10px;
}

.search-container, .conversation-list, .new-message-container {
  background: #0048aa;
}

.search-container {
  display: grid;
  align-items: center;
  padding: 0 20px;
  grid-area: search-container;
  border-radius: 10px 0 0 0;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
  z-index: 1;
  position: relative;
}

.input-custom {
  border: 0;
  outline: none;
  font-weight: 500;
  border-radius: 2px;
  height: 30px;
  padding-left: 30px;
  padding-right: 20px;
}

.input-custom.transparent {
  background: #ffffff30;
  color: white;
}

.input-custom.transparent::placeholder {
  color: white;
}

.material-icons.inner{
  position: absolute;
  font-size: 1.25rem;
  left: 25px;
  top: 26px;
  //bottom: 0;
  color: #eeeeee;
}

//.inner.search {
//
//}

//.conversation-list {
//  grid-area: conversation-list;
//}
//
//.new-message-container {
//  grid-area: new-message-container;
//  border-top: 1px solid rgba(0, 0, 0, 0.75);
//  border-radius: 0 0 0 10px;
//}
//
//.chat-title, .chat-form {
//  background: #eee;
//}
//
//.chat-title {
//  grid-area: chat-title;
//  color: #0048aa;
//  font-weight: 500;
//  font-size: 2.8rem;
//  border-radius: 0 10px 0 0;
//  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
//}
//
//.chat-form {
//  grid-area: chat-form;
//  border-radius: 0 0 10px 0;
//  border-top: 1px solid rgba(0, 0, 0, 0.25);
//}

.item1 { grid-area: header; }
.item2 { grid-area: title; }
.item3 { grid-area: search; }
.item4 { grid-area: people; }
.item5 { grid-area: main; }
.item6 { grid-area: right; }
.item7 { grid-area: input; }

.chat-container {
  display: grid;
  grid-template-columns: minmax(200px, 300px) minmax(600px, 500px)  minmax(300px, 300px) minmax(300px, 300px);
  //grid-template-rows: 200px 300px 100px;
  grid-template-areas:
    'title header header header header header'
    'search main main main right right'
    'people main main main right right'
    'people input input input right right';
  grid-gap: 1px;
  background-color: rgb(198, 198, 198);
  padding: 1px;
}

.chat-container > div {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}