@import "media-queires";
@import "custom";
@import url('aos.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
//@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css');

:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  /* scroll-behavior: smooth; */
}

body {
  margin: 0;
  font-size: 16px !important;
  font-family: 'Open Sans', 'Poppins', sans-serif !important;
  height: 100%;
  //background: rgb(250, 250, 250);
}

input {
  /* border: 1px solid #aaa; */
  /* box-sizing: border-box !important; */
}

input:focus {
  /* border: 1px solid #000000 !important; */
  /* border-bottom: 4px solid #1fc3ff !important; */
  outline: none;
  /* height: 53px !important; */
  /* box-sizing: border-box !important; */
  box-shadow: none;
}

textarea:focus {
  /* border: 1px solid #000000 !important; */
  /* border-bottom: 4px solid #1fc3ff !important; */
  outline: none;
  /* height: inherit !important; */
}

.btn-form {
  border-radius: 50px !important;
  height: 50px;
  width: 200px;
}


.search-container, .conversation-list, .new-message-container {
  background: #0048aa;
}

.search-container {
  display: grid;
  align-items: center;
  padding: 0 10px;
  grid-area: search-container;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
  z-index: 1;
  position: relative;
}

.input-container {
  display: grid;
  align-items: center;
  z-index: 1;
  position: relative;
}

.input-custom {
  border: 0;
  outline: none;
  font-weight: 500;
  border-radius: 2px;
  height: 30px;
  margin: 0 auto;
  padding-left: 35px;
  //margin-right: 20px;
  //padding-right: 20px;
  //padding-top: 20px;
  //padding-bottom: 20px;
}

.input-custom.fw {
  display: flex;
  justify-content: center;
  width: 92%;
}
.input-custom.round {
  border-radius: 20px;
}

.material-icons.round {
  border-radius: 50%;
}

.input-custom.transparent {
  background: #ffffff30;
  color: white;
}

.input-custom.grey {
  background: #eeeeee;
  color: #000;
}

.input-custom.transparent::placeholder {
  color: white;
}

.material-icons.inner{
  position: absolute;
  font-size: 1.25rem;
  left: 30px;
  top: 13.5px;
  //bottom: 0;
  color: #eeeeee;
}


.item1 {
  grid-area: header;
  border-bottom: 1px solid #EDEDED;
}

.item2 {
  grid-area: title;
}

.item3 {
  grid-area: search;
}

.item4 {
  grid-area: people;
  overflow-y: auto;
  overflow-x: hidden;
}

.item5 {
  grid-area: main;
}

.item6 {
  grid-area: right;
  border-left: 1px solid #EDEDED;
}

.item7 {
  grid-area: input;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #EDEDED;
}

.item2, .item3, .item4 {
  background: #0054ad !important;
  color: white;
}


.chat-container {
  display: grid;
  grid-template-columns: 15vw 45vw 10vw 10vw 10vw;
  grid-template-rows: 7vh 5vh 81vh 7vh;
  grid-template-areas:
    'title header header header header header'
    'search main main main right right'
    'people main main main right right'
    'people input input input right right';
  width: 100%;
  height: 100% !important;
  background: #fff;
  //grid-gap: 1px;
  //padding: 1px;
}

.chat-container > div {
  background-color: rgb(255, 255, 255);
  text-align: center;
  //font-size: 30px;
}

.conversation.list.item {
  display: flex;
  padding: 10px;
  align-items: center;
}